<header>
  <div class="container">
      <a class="logo">ÑAPI</a>
      <nav>
          <ul>
              <li *ngIf="isAuth">

                <a routerLink="/login">Iniciar sesión</a>
                </li>
              <li *ngIf="!isAuth" class="menu-container">
                <a routerLink="/dasshboard">{{user.name}}</a>
                <div class="menu">
                  <a routerLink="/login" (click)="logout()">Cerrar sesión</a>
                </div>
              </li>
              <li>
                <a routerLink="/cart-page">
                  Carrito <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                </a>
              </li>
          </ul>
      </nav>
  </div>
</header>
